* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Nunito Sans', system-ui;
    background-image: url(../img/grass_14.png);
    background-size: cover;
}

.main-container {
    text-align: center;
    margin: 4rem auto;
    padding: 0.5rem 1rem;
}

.main-container h1{
    font-size: 3rem;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    transition: all ease 250ms;
    border: 3px solid black;
    background-color: beige;
    padding: 2rem;
}

.cards-container img:hover {
    transition: all ease-in-out 250ms;
    
    transform: scale(1.1);
}

.contianer-button-label img:hover {
    transition: all ease-in-out 250ms;
    transform: rotate(6deg) scale(1.3);
    cursor: pointer;
}

.container-button {
    display: none;
}