:root {
    --background-color: #E7E7FB;
    --white-color: #fff;
    --black-color: #000;
    --shadow-color: #00000034;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Nunito Sans', system-ui;
    background: var(--background-color);
}

p {
    font-size: 1.3rem;
}

.main-container {
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
}

.main-container h1{
    font-size: 3rem;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
    transition: all ease 250ms;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    padding: 1.5rem 0.1rem;
    box-shadow: 0 0 10px 5px var(--shadow-color);
    margin-bottom: 5rem;
}

.cards-container img:hover {
    transition: all ease-in-out 250ms;
    transform: scale(1.1);
}

.cards-container .card-placeholder {
    background-color: cadetblue;
    border-radius: 0.5rem;
    width: 12rem;
    height: 17rem;
}

.contianer-button-label img:hover {
    transition: all ease-in-out 250ms;
    transform: rotate(6deg) scale(1.3);
    cursor: pointer;
}

.container-button {
    display: none;
}

.footer {
    width: 100%;
    bottom: 0;
    text-align: center;
}